@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    font-family: 'Roboto:ital', serif;
    color: #00FFFF;
}

#topnav {
    background-color: black !important;
}