@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

/*---Navbar--------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    font-family: 'Roboto:ital', serif;
    color: #b91372; /* #00FFFF */
    transition: .2s;
    letter-spacing: 2px;
}

.logo:hover {
    transform: scale(1.03);
}

.input-box {
    background-color: #011627 !important;
    color: #fdfffc !important;
}

header {
    background-color: #011627 !important;
}

.collapse ul {
    display:flex;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    left: 0;
}

.icon {
    color: #fdfffc;
}

ul .nav-link {
    color: #b91372 !important;
    transition: .1s;
}

ul .nav-link:hover {
    color: #ff0022 !important;
    transform: scale(1.03);
}

img #mg-logo {
    font-size: .1rem;
    padding: 0;
    margin: 0;
}

.upper-items {
    font-size: 14px;
}

.free-shipping {
    color: #b91372 !important;
    float: right;
    font-size: 15px;
}

/*---Footer--------------------------------------------------------------*/

footer {
    background-color: #011627 !important;
}

.social {
    font-size: 2rem;
    color: #b91372 !important;
}

.social:hover {
    color: #41ead4 !important;
}

#copyright {
    color: #b91372 !important;
}

.relative {
    position: relative;
}

#copyright {
    position: absolute;
    bottom: 0;
}




/* Make sure to delete ac below */
.ac {
    height: 500px;
    width: 500px;
}