@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Roboto:wght@700&family=Roboto:ital,wght@0,500;1,500&family=Sonsie+One&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

/*---Header--------------------------------------------------------------*/


.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    font-family: 'Sonsie one', serif;
    color: #b91372; /* #00FFFF */
    transition: .2s;
    letter-spacing: 4px;
}

.logo:hover {
    transform: scale(1.03);
}

.input-box {
    background-color: #011627 !important;
    color: #fdfffc !important;
}

header {
    background-color: #011627 !important;
}

.collapse ul {
    display:flex;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    left: 0;
}

.icon {
    color: #fdfffc;
}

ul .nav-link {
    color: #b91372 !important;
    transition: .1s;
    font-family: 'Tenor sans', serif;
    font-weight: bolder;
}

ul .nav-link:hover {
    color: #ff0022 !important;
    transform: scale(1.03);
}

img #mg-logo {
    font-size: .1rem;
    padding: 0;
    margin: 0;
}

.upper-items {
    font-size: 14px;
    font-family: 'Tenor sans', serif;
}

.free-shipping {
    color: #b91372 !important;
    float: right;
    font-size: 15px;
    font-family: 'Tenor sans', serif;
}

.phone {
    color: #b91372 !important;
    font-family: 'Tenor sans', serif;
    line-height: 2;
    font-size: 15px;
}

.dropdown-menu {
    background-color: #011627 !important;
    color: #b91372 !important;
}

/*---Footer--------------------------------------------------------------*/

footer {
    background-color: #011627 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', serif;
}

.social {
    font-size: 2rem;
    color: #b91372 !important;
}

.social:hover {
    color: #41ead4 !important;
}

#copyright {
    color: #b91372 !important;
}

.relative {
    position: relative;
}

#copyright {
    position: absolute;
    bottom: 0;
}




/* Make sure to delete ac below */
.ac {
    height: 500px;
    width: 500px;
}